*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --accent-color: #404bbf;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #434455;
  --headings-color: #2e2f42;
  --brand-color: #4d5ae5;
  --background-color: #ffffff;
  --team-background-color: #f4f4fd;
  --subtle-background-color: #e7e9fc;
  --subtle-text-color: #8e8f99;
  --background-color-logo-dark: rgba(255, 255, 255, 0.1);
  --footer-logo-active: #31d0aa;
  --timing-function: cubic-bezier (0.4, 0, 0.2, 1);
  --background-color-modal: rgba(46, 47, 66, 0.4);
  --subscribe-input-color: rgba(255, 255, 255, 0.6);
  --comment-input-color: rgba(117, 117, 117, 0.5);
  --comment-border-color: rgba(33, 33, 33, 0.2);
  --checkbox-color-text: #757575;
}
body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-size: 16px;
}

/* =====Components========= */

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

/* =====Reset======== */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
/* Utils */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

/* =======MENU========= */
.page-header {
  border-bottom: 1px solid var(--subtle-background-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-container {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
}

.logo-header {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 119px;
  }
}
@media screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
    padding-bottom: 28px;
  }
}

.logo {
  color: var(--headings-color);
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-first {
  color: var(--brand-color);
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .address-list {
    display: none;
  }
  .mobile-menu-open {
    display: inline-block;
    stroke: var(--headings-color);
    background-color: var(--background-color);
    border: none;
    padding: 0;
    height: 22px;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    gap: 40px;
    margin-right: auto;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
}
.menu-item {
  position: relative;
  display: block;
}
.menu-link {
  color: var(--headings-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.current::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: -27px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.email,
.phone-number {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.email:hover,
.email:focus {
  color: var(--accent-color);
}
.phone-number:hover,
.phone-number:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1158px) {
  .address-list {
    display: flex;
    gap: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    overflow-y: scroll;
  }
}
.modal-close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  padding: 0;
  background-color: var(--subtle-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal-close-button: hover,
.modal-close-button: focus {
  fill: var(--background-color);
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .mobile-menu .mobile-menu-close {
    top: 24px;
    right: 20px;
  }
  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 284px;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--headings-color);
  }
  .mobile-menu-text {
    color: var(--accent-color);
  }
  .mobile-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
  }
  .menu-phone-number {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--brand-color);
  }
  .menu-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
.mobile-socials-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 56px;
}
.menu-socials-item {
  width: 40px;
  height: 40px;
}
.socials-icon {
  padding: 8px;
}
.js-menu-container {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.js-menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* =======HERO========== */

.hero-title {
  margin: 0 auto 72px;
  max-width: 319px;

  color: var(--background-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero-title {
    margin: 0 auto 40px;
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1158px) {
  .hero-title {
    margin: 0 auto 48px;
  }
}

.hero {
  max-width: 1440px;
  padding-top: 112px;
  padding-bottom: 112px;

  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/hero-bg-mobile.jpg);
  background-color: var(--headings-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1440px;
    padding-top: 112px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/hero-bg-tablet.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/hero-bg-desktop.jpg);
    background-color: var(--headings-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/hero-bg-mobile@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/hero-bg-tablet@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/hero-bg-desktop@2x.jpg);
  }
}

.hero-button,
.modal-send-button {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  display: inline-block;
  text-align: center;

  padding: 16px 32px;
  min-width: 169px;
  border: 1px solid transparent;

  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  color: var(--background-color);
  background-color: var(--brand-color);

  border-radius: 4px;
  letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus,
.modal-send-button:hover,
.modal-send-button:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ======FEATURES/SECTION 1======== */

.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.features-box {
  display: none;
}

@media screen and (min-width: 1158px) {
  .features-box {
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--team-background-color);
    border-radius: 4px;
  }
}

@media screen and (max-width: 767px) {
  .section-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
  }
}

@media screen and (min-width: 768px) {
  .section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .section-list {
    flex-direction: row;
    gap: 24px;
  }
}

.section-subtitle {
  color: var(--headings-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section-subtitle {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
  }
}

.section-description {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1158px) {
  .section-description {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.features-subtitle {
  margin-bottom: 8px;
  max-width: 396px;
}
@media screen and (min-width: 768px) {
  .features-subtitle {
    max-width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .features-subtitle {
    max-width: 264px;
  }
}

@media screen and (min-width: 768px) {
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .features-item:nth-child(-n + 2) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

/* ===========WHAT ARE WE DOING/SECTION 2======== */
@media screen and (max-width: 1157px) {
  .projects {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .projects {
    padding-bottom: 120px;
  }

  .section-title {
    margin-bottom: 72px;

    color: var(--headings-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .projects-image {
    border: 1px solid var(--subtle-background-color);
  }
  .projects-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

/* ===========OUR TEAM/SECTION 3======== */

.team {
  background-color: var(--team-background-color);
  padding-top: 96px;
  padding-bottom: 128px;
}
@media screen and (min-width: 768px) {
  .team {
    padding-bottom: 104px;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 768px) {
  .section-list {
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
}
.section-title {
  margin-bottom: 72px;

  color: var(--headings-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-description {
  padding: 32px 16px;
  text-align: center;
}

.team-subtitle {
  margin-bottom: 8px;

  color: var(--headings-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-description {
  font-weight: 400;
}

.team-item {
  background-color: var(--background-color);
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* =======SOCIALS============ */
.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  fill: var(--background-color);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}
.team-description .socials-icon {
  padding: 12px;
}
/* ========SECTION 4 ========== */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;
}

@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}

.customers-item {
  flex-basis: calc((100% - 18px) / 2);
}

@media screen and (min-width: 768px) {
  .customers-item {
    flex-basis: calc((100% - 234px) / 3);
  }
}
@media screen and (min-width: 1158px) {
  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.customers-icon {
  width: 104px;
  height: 56px;
}
.customers-link {
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  fill: var(--subtle-text-color);

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
/* =========FOOTER======================= */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--headings-color);
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
    align-items: flex-start;
    padding-left: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-left: 15px;
    gap: 0;
  }
}
.footer-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.logo-footer {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .logo-footer {
    text-align: left;
  }
}

.logo-second {
  color: var(--team-background-color);
}

.footer-description {
  width: 268px;
  color: var(--subtle-background-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1158px) {
  .socials-container {
    margin-left: 120px;
  }
}

.social-media-text,
.subscribe-text {
  margin-bottom: 16px;

  color: var(--background-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .social-media-text,
  .subscribe-text {
    text-align: left;
  }
}
.socials-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.socials-footer .socials-link {
  background-color: var(--background-color-logo-dark);
  fill: var(--subtle-background-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.socials-footer .socials-link: hover,
.socials-footer .socials-link: focus {
  background-color: var(--footer-logo-active);
}

.socials-icon-footer {
  width: 24px;
  height: 24px;
}
.subscribe-container {
  width: 100%;
}

@media screen and (min-width: 1158px) {
  .subscribe-container {
    margin-left: 80px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
  }
}

.subscribe-email {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--subscribe-input-color);
  background-color: var(--headings-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .subscribe-email {
    width: 264px;
    margin: 0;
  }
}

.subscribe-button {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  display: flex;
  text-align: center;
  letter-spacing: 0.04em;

  justify-content: center;
  margin: 0 auto;
  padding: 8px 24px;
  min-width: 165px;

  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  color: var(--background-color);
  background-color: var(--brand-color);
  border-radius: 4px;
  border-color: transparent;
}
@media screen and (min-width: 768px) {
  .subscribe-button {
    margin: 0;
  }
}

.subscribe-button: hover,
.subscribe-button: focus {
  background-color: var(--accent-color);
}
.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}
/* =======PORTFOLIO PAGE============= */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-category {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid var(--subtle-background-color);
  border-radius: 4px;

  font-family: inherit;
  color: var(--brand-color);
  background-color: var(--subtle-background-color);
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list-name {
  margin-bottom: 8px;

  color: var(--headings-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-text {
  padding: 32px 0 32px 16px;
  border-right: 1px solid var(--subtle-background-color);
  border-bottom: 1px solid var(--subtle-background-color);
  border-left: 1px solid var(--subtle-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  transform: translate(0%, 100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;

  background-color: var(--brand-color);
  color: var(--team-background-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===========MODAL WINDOW============*/
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-modal);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.modal {
  position: absolute;
  top: 390px;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 392px;
  min-height: 586px;
  padding: 72px 16px 16px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .modal {
    top: 390px;
    width: 408px;
    padding: 72px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .modal {
    top: 376px;
  }
}

.modal-close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  padding: 0;
  background-color: var(--subtle-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

/* .modal-close-button: hover,
.modal-close-button: focus {
  fill: var(--background-color);
  background-color: var(--accent-color);
} */

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-text {
  margin-bottom: 16px;
  color: var(--headings-color);
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.form-input-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 8px;
}
.modal-field {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--subtle-text-color);
}
.modal-field-input {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  padding-left: 38px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--comment-border-color);
  border-radius: 4px;
}
.modal-field-icon {
  display: block;
  position: absolute;
  top: 26px;
  left: 16px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.modal-field-input:focus {
  outline: none;
  border-color: var(--brand-color);
}
.modal-field-input:focus + .modal-field-icon {
  outline: none;
  fill: var(--brand-color);
}

.comment {
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  width: 100%;
  height: 120px;
  padding: 6px 16px;

  color: var(--comment-input-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  resize: none;
  border: 1px solid var(--comment-border-color);
  border-radius: 4px;
}
.comment:focus {
  outline: none;
  border-color: var(--brand-color);
  color: var(--primary-text-color);
}
.container-textarea {
  margin-bottom: 16px;
}
.modal-checkbox-field::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--headings-color);
  border-radius: 2px;
  cursor: pointer;
}
.modal-field-input:checked + .modal-checkbox-field::before {
  background-image: url(../images/icons/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  block-size: contain;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-field-input:focus + .modal-checkbox-field::before {
  background-image: url(../images/icons/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  block-size: contain;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-checkbox-field {
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--checkbox-color-text);
}
.user-policy {
  margin-bottom: 24px;
}
.user-policy-link {
  color: var(--brand-color);
}
.modal-send-button {
  display: block;
  margin: 0 auto;
}
